In [74]:
import pandas as pd
import collections
from datetime import datetime

# Annotator data

In [78]:
# Load data
df1 = pd.read_json(path_or_buf='../../data/prodigy_exports/prodigy1_db_exports/NER_annotator1.jsonl', lines=True)

In [80]:
# Find potential duplicates and the number of them
# sourcery skip: remove-redundant-slice-index
texts1 = list(df1.text)
print(len(texts1))
print(len(set(texts1)))
print(len([item for item, count in collections.Counter(texts1).items() if count > 1]))
print([item for item, count in collections.Counter(texts1).items() if count > 1][0:10]) # which texts are duplicates?

3164
2842
248
['Nå nej', 'Det er selvfølgelig anekdotisk, men jeg har mødt så mange gode mennesker i min barndom som både hed Abdi, Tarik, Muhammad og Eyman.', 'Varme hjerter, svære kår, gode til fodbold.', 'Flere af dem sælger hash osv i dag.', 'Så sørgeligt og jeg nægter tesen om at det skulle være selvforskyldt', 'Deres forældre havde ingen muligheder, allerede dengang blev de set ned på i samfundet, på kommunen og i parlamentet.', 'Svært at gro blomster direkte på beton', '\n@iNSiG9FiX @cekicozlem', 'Deres forældre, bedsteforældre er det vel snarere nu, de havde alle de muligheder de valgte at forfølge.', 'Det er på tide man lægger offerrollen på hylden.']

In [81]:
# See example in depth
df1[df1['text'] == 'Det er selvfølgelig anekdotisk, men jeg har mødt så mange gode mennesker i min barndom som både hed Abdi, Tarik, Muhammad og Eyman.']
# It appears IT IS the same meta data

,text,meta,_input_hash,_task_hash,tokens,spans,_is_binary,_view_id,answer,_timestamp
12,"Det er selvfølgelig anekdotisk, men jeg har mø...","{'start_id': '1296181799450804226', 'start_use...",-982472569,1877380412,"[{'text': 'Det', 'start': 0, 'end': 3, 'id': 0...","[{'start': 100, 'end': 104, 'token_start': 19,...",False,ner_manual,accept,1635322276
36,"Det er selvfølgelig anekdotisk, men jeg har mø...","{'start_id': '1296181799450804226', 'start_use...",-982472569,1877380412,"[{'text': 'Det', 'start': 0, 'end': 3, 'id': 0...","[{'start': 73, 'end': 86, 'token_start': 13, '...",False,ner_manual,accept,1635322656

# Interannotator data

In [85]:
# Load data
df2 = pd.read_json(path_or_buf='../../data/prodigy_exports/prodigy1_db_exports/NER_interannotator_annotator1.jsonl', lines=True)

In [86]:
# Find potential duplicates and the number of them
# sourcery skip: remove-redundant-slice-index
texts2 = list(df2.text)
print(len(texts2))
print(len(set(texts2)))
print(len([item for item, count in collections.Counter(texts2).items() if count > 1]))
print([item for item, count in collections.Counter(texts2).items() if count > 1][0:10]) # which texts are duplicates?

468
437
8
['!', '\n', '.', '?', 'Taler 11:', 'Taler 10:', 'Eller manuskriptet.', 'Dig elsker jeg!']

In [87]:
# See example in depth
df2[df2['text'] == '!']
# It appears that it is NOT the same meta data

,text,meta,_input_hash,_task_hash,tokens,spans,_is_binary,_view_id,answer,_timestamp
3,!,"{'start_id': '1238865417248165895', 'start_use...",1106246185,-1563749998,"[{'text': '!', 'start': 0, 'end': 1, 'id': 0, ...",[],False,ner_manual,reject,1636479337
292,!,{'source': '/content/dagw/sektioner/ep/ep_07-1...,1106246185,-1563749998,"[{'text': '!', 'start': 0, 'end': 1, 'id': 0, ...",[],False,ner_manual,accept,1636481274

# Check duplicates between annotator and interannotatordata

In [90]:
unique_docs_annotator = list(set(list(df1['text'])))
unique_docs_interannotator = list(set(list(df2['text'])))

In [91]:
with_potential_duplicates = (unique_docs_interannotator + unique_docs_annotator)
without_potential_duplicates = set(unique_docs_interannotator + unique_docs_annotator)
n_duplicates = len(with_potential_duplicates) - len(without_potential_duplicates)

print(f'n_docs in interannotator data: {len(unique_docs_interannotator)}')
print(f'n_docs in annotator data: {len(unique_docs_annotator)}')
print(f'n_docs in combined (with potential duplicates): {len(with_potential_duplicates)}')
print(f'n_docs in combined (without duplicates): {len(without_potential_duplicates)}')
print(f'n_duplicates in combined: {n_duplicates}')

n_docs in interannotator data: 437
n_docs in annotator data: 2842
n_docs in combined (with potential duplicates): 3279
n_docs in combined (without duplicates): 3264
n_duplicates in combined: 15